packages:
  yum:
    git: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_npm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      yum install nodejs npm
      cd /var/app/current
      npm install bower
      npm install
      ./node_modules/bower/bin/bower install --allow-root --config.interactive=false
      